[tool.ruff]
line-length = 100
select = ["E","F","W","I","B","UP","SIM","RUF"]
ignore = ["E203"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false

[tool.mypy]
python_version = "3.11"
disallow_untyped_defs = true
warn_unused_ignores = true
warn_redundant_casts = true
no_implicit_optional = true
strict_optional = true
check_untyped_defs = true
warn_return_any = true
show_error_codes = true
pretty = true
